{% extends 'base.html' %}
{% block body %}
<center>
<h2>{{ the_title }}</h2>

<form method='POST' action='/pickairport'>
<table>
<th colspan="2">请填写机场名称：</th>
<tr><td>起始机场: </td><td>
  <select name='user_airportone'>
  {% for item in the_list_items %}
    <option value="{{item}}">{{item}}</option>
  {% endfor %}
  </select>
</td></tr>

<tr><td>目的机场: </td><td>
 <select name='user_airporttwo'>
  {% for item in the_list_items %}
    <option value="{{item}}">{{item}}</option>
  {% endfor %}
  </select>
</td></tr>

</table>
<p>准备就绪后, 单击此按钮：</p>
<p><input value='查询' type='SUBMIT'></p>
</form>

<script>a=new Date();document.write("现在时间是"+a.toLocaleString()+"");</script>

<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>


<INPUT name=Button onclick="window.external.AddFavorite(location.href, document.title)" type=button value=加入收藏夹>
</center>
{% endblock %}
